project:
  type: website

website:
  title: "Deltavax"
  navbar:
    logo: images/deltavaxx-logo.png
    logo-width: 240
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

